table img {width: 200px;}

table th, td {
  border: 2px solid black;  
  border-collapse: collapse;
}

th, td {padding: 20px;}

table .carousel-img {
  width: 700px;
}

.contactos-backoffice input{
  width: 450px;
}
